<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
</style>

<!-- In both the data binding you can see we put the method or property name 
in the double quoutes in this case its not being interpreted as a string but as 
code -->

<div class="container">
  <div class="wrapper">
    <h1>{{ title }}</h1>
    <div class="length">
      <label>Length</label>
      <!-- Everytime the input changes the input event is
      triggered so we are going to use event binding and 
      attach a method to this event and also create a
      property which is going to store the new value of 
      input field each time it is triggered -->
      <input
        (input)="handleLength($event)"
        type="number"
        placeholder="Enter Length"
      />
    </div>
    <div class="checkboxes">
      <!-- Whenever these checkboxes are ticked or unticked 
      the change event is triggered on them so we attach a 
      method to listen for these events through the event
      binding syntax -->
      <div>
        <input (change)="handleUseLetters()" type="checkbox" />
        <p>Use Letters</p>
      </div>
      <div>
        <input (change)="handleUseNumbers()" type="checkbox" />
        <p>Use Numbers</p>
      </div>
      <div>
        <input (change)="handleUseSymbols()" type="checkbox" />
        <p>Use Symbols</p>
      </div>
    </div>
    <!-- This is the event binding syntax where if you want to trigger a method upon 
    the happenning of a certain event you have to mention the event in perenthesis and
    set it to the method from your class which  you want to run  when that event is triggered 
    instead of a method from your code you can execute whatever you want too -->
    <button
      (click)="handleClick()"
      [disabled]="
        !length || (!includeLetters && !includeNumbers && !includeSymbols)
      "
      class="btn"
      [innerHTML]="'<b>Generate!</b>'"
    ></button>
    <!-- Directives are attributes which exists on our angular template
      syntax element which manipulate the DOM in order to modify our
      elements 
    -->
    <!-- Structural Directives add or remove elements from the DOM
    in order to modify the element
    -->
    <!-- *ngIf is a structural directive which adds or remove the
    element from the DOM on the basis of weather the set property value
    is true or false 
    -->
    <div class="password" *ngIf="password">
      <label>Your Password</label>
      <!-- This is the property binding syntax where if you want to set the property of 
      an element you mention it in square brackets and set it equal to the property of the
      class or just a value to set it too. -->
      <input [value]="password" disabled />
    </div>
  </div>
</div>
